/* Google Fonts Popions */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Variables */

:root{
  /* background color */
  --primary-color: #990033;
  --secondary-color: #ffc2b4;
  --primary-nav-color: #e21056;
  --primariy-bg: rgb(153 0 51 / 14%);
  --font-color: #b7b7b7;
  --bg-color: #171717;
  --bg-drack-color: #0c0b0b;
  --white-color: #fdfffc;
  --green-color: #0abf53;
  --green-color-bg: rgb(10 191 83 / 17%);
  --blue-color: #6168ff;
  --blue-color-bg: rgb(97 104 255 / 9%); 
  --border-color-light: rgb(255 255 255 / 0.2);
  --box-shadow: 0 1rem 3rem rgb(0 0 0 / 12%);
  --dark-layer-color: linear-gradient(to top, rgba(21 21 21 / 67%) , rgba(23 23 23 / 17%));
  

  /* Font Familiy */
  --primatiy-font: 'Poppins', sans-serif;
}